body {
  background-color: bisque;
  margin: 0;
}

.clearFix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  max-width: 1200px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.menu {
  width: 80%;
  max-width: 750px;

  margin: 0 auto;
}

h3 {
  float: left;
}

button,
h3 {
  margin: 20px 0;
}

button {
  float: right;
}

.winWindow {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: #cc00ff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  line-height: 80px;
  color: white;
}

.containerRelative {
  position: relative;
  width: 125px;
  height: 125px;
  margin: 0 auto;
}

.star1 {
  margin: 0 auto;
  border-top: 0px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 50px solid #bf00ff;
  border-left: 15px solid transparent;

  width: 0;
  height: 0;
}

.star2 {
  margin: 0 auto;
  border-top: 15px solid transparent;
  border-left: 0px solid transparent;
  border-right: 50px solid #bf00ff;
  border-bottom: 15px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: -5.5px;
  top: 43px;
  transform: rotate(15deg);
}

.star3 {
  margin: 0 auto;
  border-top: 50px solid #bf00ff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 50px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: 3.2px;
  top: 76.5px;
  transform: rotate(41deg);
}

.star4 {
  /* margin: 0 auto; */
  border-top: 50px solid #bf00ff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 50px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: 91.5px;
  top: 76.5px;
  transform: rotate(-41deg);
}
.star5 {
  margin: 0 auto;
  border-top: 15px solid transparent;
  border-left: 0px solid transparent;
  border-right: 50px solid #bf00ff;
  border-bottom: 15px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: 80px;
  top: 43px;
  transform: rotate(165deg);
}
.starCenter {
  border-radius: 20px;
  width: 45px;
  height: 53.5px;
  background-color: #bf00ff;
  position: absolute;
  left: 40px;
  top: 45px;
}

.circle {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: rgb(132, 0, 255);
}

.circle,
.square,
.triangle {
  margin: 0 auto;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 125px solid orange;
  border-left: 75px solid transparent;
}

.square {
  width: 125px;
  height: 125px;
  background-color: rgb(13, 95, 68);
}

.rhombus {
  width: 75px;
  height: 75px;
  background-color: orangered;
  transform: rotate(45deg);
  margin: 0 auto;
  position: absolute;
  left: 25px;
  top: 25px;
}

.heart.circle {
  background-color: orangered;
  width: 75px;
  height: 75px;
}

.heart.circle.left {
  position: absolute;
  top: 0px;
}
.heart.circle.right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.contFaceCard {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: 1s;
  background-color: lightgray;
}

.rotateFaceCard {
  transform: rotateY(360deg);
}

.rotateShirtCardBack {
  transform: rotateY(180deg);
}

.wrapperCard {
  display: none;
  margin: 10px;
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
}

.disabledCard {
  margin: 10px;
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  transition: 2s;
  opacity: 0.5;
}

.containerShirt {
  transition: 1s;
}

.rotateShirtCard {
  transform: rotateY(180deg);
  transition: 1s;
}

.containerGame {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 20px auto;
}

.wrapperShirt {
  position: relative;
  margin: 0 auto;
}

.triangleBorder-1,
.triangleBorder-2,
.triangleBorder-3,
.triangleBorder-4,
.triangleBorder-5,
.triangleBorder-6,
.triangleBorder-7,
.triangleBorder-8,
.triangleBorder-9,
.triangleBorder-10,
.triangleBorder-11,
.triangleBorder-12 {
  border-radius: 4px;
  border-top: 20px solid transparent;
  border-right: 40px solid rgb(10, 78, 10);
  border-bottom: 20px solid transparent;
  border-left: 0px solid transparent;
  position: absolute;
}
.triangleBorder-11 {
  left: -3px;
  top: -22px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 0px solid transparent;
  transform: rotate(180deg);
  border-right: 40px solid rgb(67, 33, 160);
}
.triangleBorder-12 {
  left: 42px;
  top: -22px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 0px solid transparent;
  border-right: 40px solid rgb(67, 33, 160);
}
.triangleBorder-1 {
  left: -1px;
  transform: rotate(0deg);
}
.triangleBorder-2 {
  transform: rotate(180deg);
  top: 20px;
  left: -1px;
}
.triangleBorder-3 {
  top: 0px;
  left: 41px;
  transform: rotate(180deg);
  border-right: 40px solid rgb(5, 34, 5);
}
.triangleBorder-4 {
  top: 20px;
  left: 41px;
  transform: rotate(0deg);
  border-right: 40px solid rgb(5, 34, 5);
}
.triangleBorder-5 {
  top: 42px;
  left: 40px;
  transform: rotate(180deg);
  border-right: 40px solid rgb(16, 124, 143);
}
.triangleBorder-6 {
  transform: rotate(0deg);
  top: 42px;
  left: 0px;
  border-right: 40px solid rgb(16, 124, 143);
}
.triangleBorder-7 {
  transform: rotate(180deg);
  top: 64px;
  left: -2px;
  border-right: 40px solid rgb(18, 16, 143);
}
.triangleBorder-8 {
  transform: rotate(0deg);
  top: 84px;
  left: -2px;
  border-right: 40px solid rgb(18, 16, 143);
}
.triangleBorder-9 {
  transform: rotate(0deg);
  top: 64px;
  left: 40px;
  border-right: 40px solid rgb(74, 73, 138);
}
.triangleBorder-10 {
  transform: rotate(180deg);
  top: 84px;
  left: 40px;
  border-right: 40px solid rgb(74, 73, 138);
}

.wrapperShirt {
  width: 220px;
  height: 320px;
}

.patternElement {
  position: relative;
  width: 85px;
  height: 128px;
  float: left;
}

.containerShirt {
  width: 200px;
  height: 300px;
  background-color: lightgreen;
  border-radius: 20px;
  float: left;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
}

.rowOfPatterns {
  width: 300px;
  float: left;
}
